html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#logo {
    width: 90px;
    height: 75px;
    margin-left: 15px;
  }

li a{
    font-family: 'Satoshi', sans-serif;
    font-size: 25px;
    
}

.banner {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.video {
    margin-bottom: 30px;
}

.hero-banner {
 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;
    border-style: double;
    
    border-radius: 5%;
    border-color: white;
    margin-right: 30px;
    margin-left: 30px
}
    
    .fade-in {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }
    
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

.list {
    margin-top: 20px;
}

.hero {
    padding-left: 10px;
    padding-right: 10px;
}


.video {
    margin-top: 30px;
}